@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Josefin+Sans:wght@400;700&family=Manrope:wght@800&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root{
--bright-blue: hsl(220, 98%, 61%);
--check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
--very-light-gray: hsl(0, 0%, 98%);
--very-light-grayish-blue: hsl(236, 33%, 92%);
--light-grayish-blue: hsl(233, 11%, 84%);
--dark-grayish-blue: hsl(236, 9%, 61%);
--very-dark-grayish-blue: hsl(235, 19%, 35%);
--very-dark-blue: hsl(235, 21%, 11%);
--very-dark-desaturated-blue: hsl(235, 24%, 19%);
--light-grayish-blue: hsl(234, 39%, 85%);
--light-grayish-blue-hover: hsl(236, 33%, 92%);
--dark-grayish-blue: hsl(234, 11%, 52%);
--very-dark-grayish-blue: hsl(233, 14%, 35%);
--very-dark-grayish-blue: hsl(237, 14%, 26%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  
}


/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--very-dark-grayish-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


main{
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}

header{
  width: 100%;
  background-image: url(./images/bg-mobile-dark.jpg);
  padding-inline: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.heading{
  display: flex;
  justify-content: space-between;
}

.heading img{
  height: auto;
  width: 2rem;
}

header .heading img:hover{
  cursor: pointer;
  opacity: 0.9;
}

header .heading h1{
  letter-spacing: 0.75rem;
}

header .user-input{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .user-input .add{
  width: 1.7rem;
  height: 1.7rem;
  background: none;
  position: absolute;
  z-index: 1;
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--very-dark-grayish-blue);
  margin-inline: 1rem;
}

header .user-input img{
  position: absolute;
  left: 1.5rem;
  height: auto;
  width: 1.5rem;
}

.input{
  width: 100%;
  padding: 0.75rem 4rem;
  background-color: var(--very-dark-desaturated-blue);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.content{
  background-color: var(--very-dark-blue);
  width: 100%;
  height: 100vh;
  padding-inline: 1rem;
}

.todo{
  width: 100%;
  border-radius: 0.7rem;
  background-color: var(--very-dark-desaturated-blue);
}

.content .todo .todo_list{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.append{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  height: 400px;
  overflow-x: hidden;
} 

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
  padding-inline: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid var(--dark-grayish-blue);
}

.content .todo .todo_list ul li img{
  height: auto;
  width: 1rem;
}

.content .todo .todo_list ul li img:hover{
  opacity: 0.9;
  cursor: pointer;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
}

.circle{
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--very-dark-grayish-blue);
  border-radius: 50%;
  margin-left: -1rem;
  cursor: pointer;
}

.todo_remaining{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  color: var(--very-dark-grayish-blue);
  padding-inline: 2rem;
}

.checked{
  background-image: url(./images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bright-blue);
  text-decoration: line-through;
}

.complete{
  text-decoration: line-through;
}

.todo_status{
  display: none;
  gap: 2rem;
  background-color: var(--very-dark-desaturated-blue);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.todo_status button{
  appearance: none;
  background: none;
  outline: none;
  border: none;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 0.9em;
  font-family: "Josefin Sans", sans-serif;
}

.todo_status button:hover{
  color: var(--bright-blue);
  cursor: pointer;
}

.footer{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--very-dark-grayish-blue);
  padding-block: 1rem;
}

.clear:hover{
  cursor: pointer;
  opacity: 0.9;
}

.moon{
  display: none;
}



.sec-status{
  display: none;
}


@media screen and (min-width:600px) {
  .heading, .user-input{
    max-width: 500px;
    margin: 0 auto;
  }

  .heading{
    width: 100%;
  }

  .input{
    padding-block: 1rem;
    border-radius: 0;
    font-size: 1.2em;
  }

  
  header{
    background-image: url(./images/bg-desktop-dark.jpg);
  }

  .todo{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 0;
  
  }


  .append{
    font-size: 1.5em;
  }

  .todo_status{
    max-width: 500px;
    margin: 0 auto;
    display: none;
  }

  .sec-status{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    background-color: var(--very-dark-desaturated-blue);
    max-width: 500px;
    padding: 1rem 0;
    margin-top: -1rem;
    display: none;

  }


  
  .sec-status button{
    font-size: 0.85em;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dark-grayish-blue);
    font-weight: 700;
    font-family: "Josefin sans", sans-serif;
    width: 100%;
  }

  .sec-status button:hover{
    color: var(--bright-blue);
  }

  .btn{
    display: flex;
    gap: 0.5rem;
  }

  .items_left{
    margin-left: -1rem;
  }

  .todo_remaining{
    display: none;
  }

  .footer{
    margin: 0;
  }

  .drag{
    padding-block: 3rem;
  }
  

}